
    <nav class="navbar navbar-default navbar-fixed-top" itemscope="" role="navigation">

        <div class="container-fluid">

            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <h1 class="site-title"><a class="navbar-brand"><img class="img-responsive" src="assets/Images/logo-1-1.png" alt="Integral Lite"></a></h1>
                </div>

                
                    <div id="navbar-ex-collapse" class="collapse navbar-collapse"><ul id="menu-top-menu" class="nav navbar-nav navbar-right">
<li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-234 menu-item-235 active"><a title="Welcome" href="#welcome">Welcome</a></li>

<li id="menu-item-204" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-204"><a title="Services" href="#services">Services</a></li>
<li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-230"><a title="About" href="#about">About</a></li>
<li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-231"><a title="Contact" href="#contact">Contact</a></li>
</ul></div>
                
           </div>

        </div>

    </nav>
<section id="welcome" class="hero" >
<div class="blacklayer"></div><div class="container">
<div class="row">
<div class="col-md-12">
  <h3 class="lead text-center">IT Infrastructure</h3>			<h2>Leading The Evolution</h2>			            <div class="lead text-center">
            <p>2Gen Tech helps enterprises to assess their current IT Infrastructure and evaluates whether an upgrade is required to justify their business needs.</p>
        </div>
                  
        
      </div>
</div>
</div>
</section><section id="features" class="features lite no-padding-bottom">
<div class="container">
<div class="row multi-columns-row">
                  <div class="col-sm-4 col-md-4 col-lg-4"><div class="feature"><h4>Backups</h4><p>Our backup services provides a fully managed cloud & on premise backup service with proactive remote administration and monitoring.</p>
</div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="feature"><h4>Web, Application and Software Specialists</h4><p>We can develop reliable, scalable and secure software solutions for any OS, browser and device. We are all qualified professionals with expert knowledge of database technologies and programming languages such as .NET ,Golang, Angular and HTML.</p>
</div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="feature"><h4>Security & Firewall</h4><p>Our highly experienced and qualified security professionals leverage decades of experience & business-process know-how to protect your business against threats.</p>

</div></div>            		</div>
</div>
</section>

<section id="services" class="services dark ">
<div class="container">
<div class="row">
  <div class="col-md-12 heading">
            <i class="fa fa-space-shuttle"></i>				<h2 class="bigtitle_dark"><span>Services</span></h2>             		</div>
                  <div class="col-md-12">
         </div>
                </div>
            <div class="row multi-columns-row">
        <div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>IT Consultancy</h3><p>We help businesses create value and optimize their performance through technology.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>Application Services</h3><p>New-age secure application which perform at scale.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>Infrastructure & Cloud</h3><p>We help clients plan, design, implement and operate real-time networking & infrastructures.</p>
</div><div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>Cyber Security Solutions</h3><p>Our deep industry knowledge protect your business against threats and minimize risks.</p>
</div>   
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>Backup Solutions</h3><p>We build solutions using the best-in-class technologies to create the platform required.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>Telephony</h3><p>Our proven experience plays a key role in delivering excellent telecom solutions across the UAE.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>CCTV Surveillance</h3><p>We are providing advanced CCTV surveillance solutions to industries and businesses across the UAE.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>IT Support</h3><p>MegaViz is a top-class IT support and managed services provider in Dubai & across the UAE.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 feature"><h3>System Monitoring</h3><p>MegaViz is the most reliable service provider of comprehensive 24/7 IT support services.</p>
</div>
 </div>
      </div>
</section>
<section id="about" class="about lite no-padding-bottom">
<div class="container">
<div class="row">
  <div class="col-md-12 heading">
            <i class="fa fa-user"></i>				<h2 class="bigtitle"><span>About</span></h2>           		</div>
  <div class="col-md-12">
            <p><strong>We are new generation IT company who has great expirenec and undersrtanding of cloud computing which help Enterprenere to accerate there business and egile with changing demand by maintaining Opex.
Offering end to end IT solution and services ranging from simple IT supply to complex ERP and server installtion. One IT Solution company for all you are IT need. </strong></p>

  </div>
</div>
</div>
</section>
<section id="contact" class="contact dark ">
<div class="container">
<div class="row">
<div class="col-md-12 heading">
        <i class="fa fa-envelope"></i>			<h2 class="bigtitle_dark"><span>Contact</span></h2>         	</div>
        <div class="col-md-12 margin-bottom-20">			

</div>
        <div class="col-md-6">
    <h3>Contact Info</h3>				<div class="info">
    <span class="fa fa-phone fa-md"></span> +91 8452936224				</div>				<div class="info">
    <span class="fa fa-envelope fa-md"></span> 2gentechs@gmail.com				</div>				<div class="info">
    <span class="fa fa-home fa-md"></span> Shop G1, Sainiwas Co Op Soc,<br>     Samarth Ramdas Nagar, <br>    Vasai East, Palghar, Maharastra, 401208 
</div>				 <!--<ul class="socials">
            <li><a class="facebook" target="_blank" href="D:\website/#"><i class="fa fa-facebook fa-lg"></i></a></li> 
            <li><a class="twitter" target="_blank" href="D:\website/#"><i class="fa fa-twitter fa-lg"></i></a></li> 
            <li><a class="google" target="_blank" href="D:\website/#"><i class="fa fa-google-plus fa-lg"></i></a></li> 
            <li><a class="github" target="_blank" href="D:\website/#"><i class="fa fa-github fa-lg"></i></a></li> 
            <li><a class="behance" target="_blank" href="D:\website/#"><i class="fa fa-behance fa-lg"></i></a></li>                <li><a class="linkedin" target="_blank" href="D:\website/#"><i class="fa fa-linkedin fa-lg"></i></a></li>                <li><a class="instagram" target="_blank" href="D:\website/#"><i class="fa fa-instagram fa-lg"></i></a></li> 
            <li><a class="youtube" target="_blank" href="D:\website/#"><i class="fa fa-youtube fa-lg"></i></a></li>	            </ul>-->
</div>
<div class="col-md-6">
    <div role="form" class="wpcf7" id="wpcf7-f242-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form  >

<p><label> Your Name (required)<br>
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" id="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label></p>
<p><label> Your Email (required)<br>
<span class="wpcf7-form-control-wrap your-email"><input type="email" name="email" id="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> </label></p>

<p><label> Your Message<br>
<span class="wpcf7-form-control-wrap your-message"><textarea name="comment" id="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span></p>
</form></div>		</div>
      </div>

</div>
</section>


    <section class="copyright">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="copyrightinfo">

                        <p>
                            
                            Copyright @ 2022 2GenTech. All Rights Reserved 
                                                        </p>

                    </div>

                </div>

            </div>

        </div>

    </section>
